<div class="container">
  <div [hidden]="submitted">
    <h1>Mascotas</h1>

    
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="mascotaModel.nombre" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>
      
      <div class="form-group">
        <label for="Raza">Raza</label>
        <input type="text" class="form-control" id="Raza"
               [(ngModel)]="mascotaModel.raza" name="Raza">
      </div>

      <div class="form-group">
        <label for="Edad">Edad</label>
        <input type="text" class="form-control" id="edad"
               [(ngModel)]="mascotaModel.edad" name="edad">
      </div>
      <button type="button" class="btn btn-default" (click)="newMascot(); heroForm.reset()">Add</button>
      <div>
      
        <label>Lista</label>
        <br>
      <mat-nav-list>
        <p mat-list-item href="..." *ngFor="let link of empList"> {{ link.nombre }} <button type="button" class="btn btn-default" (click)="getMascotsByID(link.nombre); ">See</button>
          <button type="button" class="btn btn-default" (click)="removeUser(link.nombre);  heroForm.reset()">Remove</button>
        </p>
      </mat-nav-list>
      </div>

      <div>

      </div>
      
      
    </form>
  </div>
